# Node modules
node_modules/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Mac / VSCode junk files
.DS_Store
.vscode/

# Environnements virtuels
venv/
.env

# Python cache/compiled
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode / PyCharm
.vscode/
.idea/

